<div class="cards">
  <div class="column">
    <div class="card">Positivos</div>
    <div id="card-positivo">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at nisl
      fringilla, viverra leo quis.
    </div>
  </div>
  <div class="column">
    <div class="card">Negativos</div>
    <div id="card-negativo">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at nisl
      fringilla, viverra leo quis. 1 
    </div>
  
  </div>
  <div class="column">
    <div class="card">Melhorias</div>
    <div id="card-melhorias">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at nisl
      fringilla, viverra leo quis.
    </div>
  </div>
</div>
