.cards {
  display: flex;
  width: 100%;
  text-align: -webkit-center;
}

.column {
  flex: 50%;
}

.cardP,
.cardN,
.cardM {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  width: 300px;
}

.cardP {
  background-color: #7fd8f4;
}

.cardN {
  background-color: #ed5a5a;
}

.cardM {
  background-color: #fafd82;
}

#card-positivo {
  background-color: #7fd8f4;
  border-radius: 5px;
}

#card-negativo {
  background-color: #ed5a5a;
  border-radius: 5px;
}

#card-melhoria {
  background-color: #fafd82;
  border-radius: 5px;
}

.column:nth-child(1) {
  border-right: 1px solid black;
}

.column:nth-child(3) {
  border-left: 1px solid black;
}

#votacao {
  text-align: right;
}
